<div class="modal fade" id="inforamtionalModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informationalModal">Example Portfolio Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-lable="Close"></button>
            </div>

            <div class="modal-body">
                <div id="carouselWithIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselWithIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item-active">
                            <a href="~/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                <img src="~/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="~/assets/img/publicbackgrounds/bg-motherboard.jpg" target="_blank">
                                <img src="~/assets/img/publicbackgrounds/bg-motherboard.jpg" class="d-block w-100" alt="Portfolio carousel image" />
                            </a>
                        </div>

                        <div class="carousel-item-active">
                            <a href="~/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                <img src="~/assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio carousel image" />
                            </a>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <p class="text-muted my-2">
                    Click an image to view fullscreen (Opens new tab).
                </p>

                <a href="https://dotnet.microsoft.com/apps/aspnet" class="btn btn-lg d-block mx-5 btn-primary mt-5 shadow" target="_blank">
                    <i class="fas fa-laptop-code"></i> Live Demo    
                </a>

                <a href="https://github.com/dotnet/aspnetcore" class="btn btn-lg d-block mx-5 bg-dark text-white mt-3 shadow" target="_blank">
                    <i class="fab fa-github-square"></i> Github Repo
                </a>

                <h1 class="mt-5">Description</h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat tristique quam, quis tristique leo viverra et. Donec at sem tincidunt, viverra libero ut, varius eros. Vestibulum mollis erat nec orci egestas vehicula. Fusce molestie augue non lectus interdum, quis porta libero placerat. Mauris pellentesque sapien at sollicitudin auctor. Nam bibendum diam a fermentum pretium. Maecenas quis enim nec mauris varius commodo. Aenean sed turpis porta, congue lorem vitae, tincidunt lacus. Nam tincidunt condimentum lectus, mollis tincidunt justo tristique quis. In feugiat, felis interdum suscipit lacinia, orci erat hendrerit mauris, a cursus arcu nisl quis urna. Aenean molestie porttitor tellus, non ornare magna hendrerit eu. Quisque vitae lacinia nunc. Proin gravida lectus turpis, in rutrum tortor facilisis eu. Etiam efficitur vitae mi eu ullamcorper. Pellentesque laoreet in metus et pulvinar.
                    <br />
                    <br />
                    Pellentesque rhoncus, odio vel auctor porta, arcu dolor interdum eros, sit amet mattis massa nulla quis velit. Curabitur eget neque elit. Morbi quis felis interdum orci hendrerit finibus sed et risus. Curabitur lobortis facilisis felis, in dapibus dolor lobortis sit amet. Sed nunc neque, commodo eget finibus at, porta eget massa. In vel arcu non felis egestas aliquet. Nullam ullamcorper, erat non porta dapibus, magna massa consequat velit, in facilisis lorem urna non dui. Aliquam tempor ipsum non ante pharetra, sed aliquam mi lacinia. Cras nec accumsan libero, quis ultricies neque. Vestibulum tristique orci eu posuere scelerisque. In hac habitasse platea dictumst. Sed finibus sollicitudin velit eget tincidunt. Vestibulum aliquet molestie nisl vel posuere. Vestibulum fringilla pretium augue fermentum maximus. Praesent dictum varius congue. Nunc feugiat turpis condimentum, scelerisque lorem et, semper ante.
                </p>

                <h1 class="mt-5">Core Features</h1>
                <ul>
                    <li>Feature one</li>
                    <li>Feature two</li>
                    <li>Feature three</li>
                    <li>Feature four</li>
                    <li>Feature five</li>
                    <li>Feature six</li>
                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-lg shadow" data-bs-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>